.logo, .link-active, .item .link, .logo-footer, .link, .button-list, .section-heading, .portfolio-card {
  text-decoration: none;
}

.site-nav, .authorise-nav, .menu-svg, .advantage, .advantages, .peculiarity, .section-team, .employee, .section-workers, .workers-text, .social-links, .regular-clients, .customers, .text-address, .footer-link, .join-text, .comments, .section-filter, .portfolio .filter, .section-speech, .examples {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid blue;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 3%;
  text-align: center;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 85px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 84px;
  }
}

.logo-color {
  color: #212121;
}

.logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .logo-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-nav {
    margin-right: 84px;
  }
}

.logo-nav,
.logo:hover,
.logo:focus {
  color: #2196f3;
}

.top {
  position: relative;
  padding: 0;
  background-color: #ffffff;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .item:not(:first-child) {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link,
.link-active {
  position: relative;
  color: #212121;
  font-weight: 500;
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 2%;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav .link,
  .link-active {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .link,
  .link-active {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.link-active {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .link-active {
    padding-bottom: 8px;
  }
}

.authorise-nav .link {
  font-family: roboto, sans-serif;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.authorise-nav .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .authorise-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .authorise-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .authorise-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .authorise-nav .item:not(:last-child) {
    margin-right: 30px;
  }
}

.authorise-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authorise-nav .link:hover,
.authorise-nav .link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .authorise-nav {
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .authorise-nav {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.item .link {
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .item .link {
    display: block;
  }
}

.mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.link-active::after {
  content: "";
  position: absolute;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: 0;
    border: solid 2px red;
    background-color: #ffffff;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .menu-button:hover {
    fill: #2196f3;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button .icon-close {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .is-open .icon-close {
  display: block;
}

.menu-button .is-open .icon-menu {
  display: none;
}

.hero {
  height: 600px;
  max-width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero {
  text-align: center;
  font-weight: 900;
  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: roboto, sans-serif;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .section-hero {
    font-size: 26px;
    line-height: 1.62;
    height: 84px;
    padding-top: 118px;
    margin: 0px 0px 30px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button-main {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  font-family: roboto;
  text-align: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200px;
  height: 50px;
  top: 430px;
  border: 0;
  border-color: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover, .button-main:focus {
  color: #2196f3;
  background-color: #ffffff;
  border: 1px solid #2196f3;
}

.our-advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1140px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.advantages {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .advantages:not(:last-child) {
    margin-bottom: 30px;
  }
}

.icon-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .icon-advantag {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4%;
  }
}

.section-caption {
  color: #212121;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .section-caption {
    text-align: center;
  }
}

.text-caption {
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 1169px) {
  .featcher {
    display: none;
  }
}

.featcher .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.section-tittle {
  font-weight: 700;
  font-size: 28px;
  font-family: roboto, sans-serif;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-tittle {
    line-height: 1.31;
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.featchers {
  text-align: center;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.featchers .peculiarity + .peculiarity {
  margin-left: 30px;
}

.peculiarity {
  position: relative;
  width: 370px;
  height: 294px;
}

.peculiarity .peculiarity-img {
  display: block;
}

.featchers-text {
  position: absolute;
  font-family: roboto, sans-serif;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  padding: 0;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
}

.featchers .products {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
}

.products {
  padding: 27px 82px 27px 83px;
}

.team {
  background-color: #f5f4fa;
  text-align: center;
  line-height: 1.9;
}

.section-team {
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (min-width: 768px) {
  .section-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.employee {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .employee {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .employee {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .employee:not(:last-child) {
    margin-bottom: 30px;
  }
}

.thumb {
  height: 320px;
  outline: solid red;
}

@media screen and (min-width: 768px) {
  .thumb {
    height: 260px;
  }
}

.thumb .img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-workers {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.workers-text {
  font-family: roboto, sans-serif;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.links-item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-item .social:hover, .links-item .social:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-item .icon-worker {
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover .icon-worker,
.social:focus .icon-worker {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .social-links {
    padding-right: 74px;
    padding-bottom: 24px;
    padding-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-links {
    padding-right: 31px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
}

.clients {
  padding: 0;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.regular-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 90px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers:hover, .customers:focus {
  border-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .customers:nth-child(odd) {
    margin-right: 30px;
  }
  .customers:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .customers {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .customers:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .customers {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    width: calc((100% - 150px) / 6);
  }
  .customers:not(:last-child) {
    margin-right: 30px;
  }
}

.img-link:hover .img,
.img-link:focus .img {
  fill: #2196f3;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2196f3;
}

.logo-footer:hover, .logo-footer:focus {
  color: #2196f3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-footer span {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .address-invitation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bottom-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .bottom-address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .bottom-address {
    margin-bottom: 0;
    margin-right: 69px;
    width: 231px;
  }
}

address {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.66;
  font-family: roboto, sans-serif;
}

.text-address {
  margin-bottom: 8px;
}

.authorise-nav-footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.authorise-nav-footer .link:hover, .authorise-nav-footer .link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .authorise-nav-footer .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.authorise-nav-footer {
  margin: 0;
  padding: 0;
}

.footer-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.join-text {
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: roboto, sans-serif;
  text-align: center;
}

.footer-label {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .footer-label {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px;
    width: 358px;
  }
}

.input-mail {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  padding: 18px 12px;
  background-color: #2f303a;
  font-family: roboto, sans-serif;
  outline: none;
}

.mail-text {
  position: absolute;
  font-family: roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-label:focus-within > .mail-text {
  color: #2196f3;
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.input-mail:not(:placeholder-shown) + .mail-text {
  color: #2196f3;
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.button-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 62px 10px 29px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  border: 0;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscription:focus, .button-subscription:hover {
  background-color: #ffffff;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .button-subscription {
    margin: 0;
  }
}

.button-subscription:focus .button-icon,
.button-subscription:hover .button-icon {
  fill: #2196f3;
}

.button-icon {
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-invitation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.link-item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #757575;
  cursor: pointer;
}

.link-item .social:hover, .link-item .social:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item:not(:last-child) {
  margin-right: 10px;
}

.bottom {
  /* justify-content: space-between; */
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.foot {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-invitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.invitation {
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.invitation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.invitation-links .link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  fill: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  position: relative;
  top: 94px;
  left: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--hero-text-color);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus, .button-close:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.button-form {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  font-family: roboto, sans-serif;
  text-align: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200px;
  height: 50px;
  top: 430px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  margin: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover, .button-form:focus {
  background-color: #ffffff;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 164px 40px;
}

.form-elements {
  padding: 0 40px 20px 40px;
  margin: 0;
}

.topic {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  padding: 40px;
  padding-bottom: 30px;
}

.forma-fild {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.forma-fild:not(:last-child) {
  margin-bottom: 28px;
}

.forma-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding: 12px 42px;
}

.forma-input:hover, .forma-input:focus {
  border-color: #2196f3;
  outline: none;
}

.forma-name {
  position: absolute;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 0;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forma-fild:focus-within .forma-name {
  -webkit-transform: translate(-30px, -250%);
          transform: translate(-30px, -250%);
  color: #2196f3;
}

.forma-input:not(:placeholder-shown) + .forma-name {
  -webkit-transform: translate(-30px, -250%);
          transform: translate(-30px, -250%);
  color: #2196f3;
  border-color: #2196f3;
}

.icon-forma {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.forma-fild:focus-within .icon-forma {
  fill: #2196f3;
  border-color: #2196f3;
}

.comments {
  position: relative;
  width: 100%;
  min-height: 120px;
}

.comments-name {
  position: absolute;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  top: 12px;
  left: 16px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments-fild {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comments-fild:focus {
  border-color: #2196f3;
  outline: none;
}

.comments:focus-within > .comments-name {
  color: #2196f3;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.comments-fild:not(:placeholder-shown) + .comments-name {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  color: #2196f3;
}

.checkbox-fild {
  margin-bottom: 30px;
}

.agreement {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  color: #757575;
  padding: 0 52px 0 51px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-filter {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #757575;
}

.portfolio .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 73px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio .filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.photo {
  position: relative;
  overflow: hidden;
}

.button-list.button-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button-list {
    margin-bottom: 15px;
  }
}

.button-filter {
  padding: 6px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  height: 38px;
  border-radius: 4px;
  border: 0;
  text-align: center;
  font-family: roboto, sans-serif;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.section-main {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio .conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
}

.photo {
  position: relative;
  overflow: hidden;
  height: auto;
  outline: solid red;
}

.section-speech {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  padding: 77px 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-speech {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .section-speech {
    padding: 63px 24px;
  }
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swatch-item {
  display: block;
  border-radius: 5px;
}

.swatch-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .swatch-item {
    width: calc((100% - 30px) / 2);
  }
  .swatch-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .swatch-item {
    margin-right: 30px;
  }
  .swatch-item:nth-child(3n) {
    margin-right: 0;
  }
  .swatch-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.template {
  display: block;
  margin: 0;
  max-width: 100%;
  height: 100%;
}

.section-main {
  margin: 0;
  display: none;
}

.section-heading {
  margin: 0;
  font-size: 18px;
  font-family: roboto, sans-serif;
  color: #212121;
  margin-bottom: 4px;
}

.card {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio-card {
  display: block;
}

.portfolio-card:hover, .portfolio-card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  /* box-shadow: 10px 5px 5px red; */
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .section-speech,
.portfolio-card:focus .section-speech {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */