.clients {
  padding: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.regular-clients {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}
.img-link {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: 170px;
  height: 90px;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $hover-link-color;
  }
}

.clients .customers + .customers {
  margin-left: 30px;
}
.img {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers {
  width: calc((100% - 150px) / 6);
  @extend %list;
}

.img-link:hover .img,
.img-link:focus .img {
  fill: $hover-link-color;
}
