.top {
  position: relative;
  // display: flex;
  padding: 0;
  // align-items: baseline;
  background-color: $hero-text-color;
  color: $tittle-text-color;
}
// .top-second .conteiner {
//   // display: flex;
//   // align-items: baseline;
// }

.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
    // padding-top: 32px;
    // padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    background-color: $hero-text-color;
    width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.site-nav {
  @extend %list;

  & .link:hover,
  .link:focus {
    color: $hover-link-color;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav .item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      padding-top: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.site-nav .link,
.link-active {
  position: relative;
  color: $tittle-text-color;

  font-weight: 500;
  font-family: $main-font, $reserv-font;
  font-size: 14px;
  letter-spacing: 2%;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.link-active {
  @extend %links;
  color: $hover-link-color;
  @media screen and (max-width: 767px) {
    padding-bottom: 8px;
  }
  // @media screen and (max-width: 1199px) {
  //   padding-bottom: 28px;
  // }
}

.authorise-nav .link {
  font-family: $main-font, $reserv-font;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.authorise-nav .item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      // padding-top: 32px;
      // padding-bottom: 32px;
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  align-items: center;
  justify-content: center;
}
.authorise-nav {
  @extend %list;
  display: flex;
  flex-direction: column;
  & .link:hover,
  .link:focus {
    color: $hover-link-color;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    flex-direction: row;
  }
}
.item .link {
  display: inline-block;
  @extend %links;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.link-active::after {
  content: "";
  position: absolute;
  align-items: baseline;
  width: 100%;
  height: 4px;

  bottom: 0;
  left: 0;

  background: #2196f3;
  border-radius: 2px;
  // @media screen and (max-width: 1199px) {
  //   bottom: -4px;
  // }
}
