.hero {
  height: 400px;
  // max-width: 480px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/Header-img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}
.overlay {
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/Header-mob@2x.jpg");
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/Header-mob.jpg");
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/Header-tablet@2x.jpg");
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/Header-tablet.jpg");
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/Header-desktop@2x.jpg"),
      url("../images/Header-desktop.jpg");
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/Header-desktop.jpg");
  }
  // @media not all,
  //   screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  //   screen and (min-resolution: 192dpi) and (min-width: 768px),
  //   screen and (min-resolution: 2dppx) and (min-width: 768px) {
  //   background-image: url("../images/Header-img@2x.jpg"),
  //     linear-gradient(rgba(47, 48, 58, 0.8),
  //      rgba(47, 48, 58, 0.8));
  // }
}
.section-hero {
  text-align: center;
  font-weight: 900;

  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
  color: $hero-text-color;

  font-family: $main-font, $reserv-font;
  margin: 0;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;

    padding-top: 118px;
    margin: 0px 0px 30px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}
