.logo {
  font-family: $logo-font;
  @extend %links;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 3%;
  // text-align: center;
  color: $hover-link-color;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 84px;
    font-size: 26px;
    line-height: 1.11;
  }
}
.logo-color {
  color: $tittle-text-color;
}
.logo-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 84px;
  }
}
.logo-nav,
.logo:hover,
.logo:focus {
  color: $hover-link-color;
}
