$primary-text-color: #757575;
$tittle-text-color: #212121;
$hover-link-color: #2196f3;
$hero-text-color: #ffffff;
$background-button-color: #f5f4fa;

$footer-background-color: #2f303a;

$footer-authorise-coor: rgba(255, 255, 255, 0.6);
$developed-color: rgba(255, 255, 255, 0.4);

// fonts//
$logo-font: raleway;
$main-font: roboto;
$reserv-font: sans-serif;
